@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul,
li,
a {
  font-size: 1rem;
  font-weight: 300;
  color: #4a4a4a;
  text-decoration: none;
}
header,
section {
  text-align: center;
}

header {
  background-color: #a7e6ff;
}

header {
  padding: 1rem;
}

h1 {
  padding-bottom: 2rem;
}

ul li {
  background-color: #ffffff;
  list-style-type: none;
  margin: 0px 0px 5px 0px;
  padding: 0.7rem;
  text-transform: uppercase;
  cursor: pointer;
}

.nav-links {
  font-size: 1rem;
}

.profile-img {
  margin: 30px 0px;
  width: 70%;
}

p {
  font-weight: 300;
}
header p {
  padding: 0px 25px 20px;
}

h2 {
  margin: 40px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
}

.project-img {
  width: 90%;
}

h3 {
  font-weight: 400;
}

.portfolio h3,
.portfolio p {
  margin: 25px;
}

footer {
  background-color: #a7e6ff;
  text-align: center;
}
#contact-info {
  display: flex;
  flex-direction: column;
}

#contact-info p {
  padding: 0 20px 30px 20px;
}

address {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

hr {
  border: 1px solid #58a1be;
  margin: 50px 20px 0px 20px;
}

.footer-menu {
  padding: 20px 10px 40px 10px;
}
.footer-menu h5 {
  float: left;
}
.footer-menu p {
  float: right;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  nav ul li {
    display: inline-block;
    justify-content: space-between;
    margin: 10px;
    background: none;
  }
  .hero {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
  }

  .hero img {
    width: 40%;
  }
  .hero p {
    margin-top: 40px;
  }

  /* .portfolio {
    display: flex;
  } */
  .project-img {
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .menu-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .portfolio {
  }
}
